body
{
	margin:0px;
	padding:0px;
	
}
#nav ul li li
{
	margin:5px;
	padding:0;
}

#nav ul li ul
{
	display:none;
	position:absolute;
	top:18px;
	margin:0;
	padding:0;
	width:170px;
	z-index:2;
	box-shadow:1px 1px 1px 0px;
	background:rgb(255,255,255);
}
#nav ul li:hover > ul
{
	display:block;
	
	
}



#header
{
	min-height:80px;
	margin:0px;
	padding:0px;
}
#header img
{
	position:absolute;
	left:100px;
}

#header ul
{
	position:absolute;
	right:80px;
	top:60px;
}
#header ul li
{
	display:inline-block;
	font: normal normal bold 14px/1.2em 'open sans', sans-serif;
	font-weight:bold;
	color: rgb(0,204,204);
	margin-left:100px;
}
#header ul li:hover
{
	color: rgb(0,0,0);

}


#footer
{
	min-height:140px;
	background-color:#000;
}

#content
{
	position:relative;
	min-height:700px;
	background-image:url(658c7dc741ab358f2eeb110db21b338d.wix_mp_srz_p_1280_800_75_22_0.50_1.20_0.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	
	
}

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 700px; 
    height: 400px; 
    padding: 10px;
	left:190px;
	top:30px;
	margin-bottom:0px;
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
	border:solid rgb(255,255,255) 4px;
}

#contentleft
{
	position: relative;
	float: left;
	top: -395px;
	left: 150;
	width:320px;
	text-align:center;
}


#contentleft ul a li:first-child
{
	font: normal normal normal 23px/1.2em 'open sans', sans-serif;
background:linear-gradient(rgb(255,204,51),rgb(255,153,0));
list-style:none;
border:solid rgb(255,255,255);
color:rgb(255,255,255);
box-shadow:rgb(51,51,51) 1px 1px 1px 1px;
border-radius: 2px;
height:50px;
line-height:16px;
-webkit-transition: background 1s ease 0s; /* For Safari 3.1 to 6.0 */
    transition: background 1s ease 0s;
}
#contentleft ul a:nth-child(2) li
{
	font: normal normal normal 23px/1.2em 'open sans', sans-serif;
background:linear-gradient( rgb(102,204,51), rgb(0,204,102) );
list-style:none;
border:solid rgb(255,255,255);
color:rgb(255,255,255);
box-shadow:rgb(51,51,51) 1px 1px 1px 1px;
border-radius: 2px;
height:50px;
line-height:16px;
-webkit-transition: background 1s ease 0s; /* For Safari 3.1 to 6.0 */
    transition: background 1s ease 0s;
}
#contentleft ul a:nth-child(3) li
{
	font: normal normal normal 23px/1.2em 'open sans', sans-serif;
background:linear-gradient( rgb(0,204,153), rgb(0,204,153));
list-style:none;
border:solid rgb(255,255,255);
color:rgb(255,255,255);
box-shadow:rgb(51,51,51) 1px 1px 1px 1px;
border-radius: 2px;
height:50px;
line-height:16px;
-webkit-transition: background 1s ease 0s; /* For Safari 3.1 to 6.0 */
    transition: background 1s ease 0s;
}
#contentleft ul a li:hover
{
	background:rgb(0,0,0);
	
}

a
{
	text-decoration:none;
}
#contentbottom
{
	position: relative;
	float: left;
	top: -200px;
	left: -130px;
	width:275px;
	text-align:center;
	height:215px;
	background-color:rgb(0,204,204);
	border-radius: 2px;
	border:solid rgb(255,255,255);
	
	
}
